  *{
    margin:0;
    padding:0;
  }

  #sideNavBarFlex
{
   display: flex;
   flex-direction: column;
   color:#b5b5b9;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 18px;
  text-align: left;
  border-top: 1px solid #ddd;
}
.table-status{
  height: 15px;
  width: 55px;
  color:white;
  text-align: center;
  font-size: 11px;
  font-family: Arial;
  font-weight: lighter;
  border-radius: 5px;
  padding:1px;
}
.table-edit{
  height: 20px;
  width: 35px;
  color:white;
  text-align: center;
  background-color: #7062e0;
  font-size: 13px;
  font-family: Arial;
  font-weight: lighter;
  border-radius: 4px;
  padding-top:3px;
}
.table-data-font{
  color:#5b6167;
  font-family: Arial;
  font-weight: lighter;
}

h6
{
    color: #8a8fa2;
    padding-left: 20px;
    padding-top:40px;
}
.navOptions
{
    color: #8a8fa2;
    margin-top:10px;
    height: 45px;
    
    padding-left: 20px;
    padding-top: 5px;
}


.flex-container {
  display: flex;
  background-color: #F8F8FA;
  margin: auto;
  position: absolute;
  height:100%;
  width:100%;
  flex-direction: row;
}
.flex-container .drawer {
  background-color: #34324A;
  width: 300px;
  
}
.flex-header {
 display: flex;
 background:#EEECF1;
 height:70px;
 width:100%;
 flex-direction: row;
 justify-self: start;
}
.flex-container2 .cards {
  display: flex;
  width: 240px;
  height: 140px;
}

.flex-container2 {
  display: flex;
  height:240px;
  width:100%;
  
  justify-content: space-evenly;
}
.flex-header .icons{
  flex-direction: row;
}
.flex-dashboard {
  display: flex;
  height:100%;
  width:100%;
  flex-direction: column;
  
}

.flex-settings{
  display: flex;
  height:90px;
  max-width: 100%;
  flex-direction: row;
  background-color: #F8F8FA;
  justify-self: flex-start;
  padding: 10px;
}

.flex-user-status{
  display: flex;
  height:500px;
  max-width:100%;
  flex-direction: row;
  
}
 .flex-user-status .transactions{
  margin:10px;
  height:90%;
  width:880px;
  background-color: white;
  margin-bottom:auto;
  border-radius: 5px;
}

.flex-user-status .chats{
  margin:10px;
  height:90%;
  width:330px;
  background-color: white;
  margin-bottom:auto;
  border-radius: 5px;
}

.create{
  margin-left:25px;
  margin-right:10px;
  margin-top: 10px;
  background-color: #f8f9fb;
  font-family: Arial;
  color:black;
  height:25px;
  width:75px;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
}
.english{
  margin-left:25px;
  margin-top: 10px;
  height:20px;
  width:75px;
  text-align: center;
  color:gray;
  background-color: #ECEAF0;
  padding: 2px;
  border-radius: 3px;
}
.brackets{
  margin-left:25px;
  
  margin-top: 10px;
  color:#757a8e;
  background-color:#ECEAF0;
  height:25px;
  width:50px;
  text-align: center;
  padding: 5px;
  transform: scale(1.2,1.2);
}
.bells{
  margin-left:25px;
  margin-top: 10px;
  height:30px;
  width:30px;
  text-align: center;
  color:#757a8e;
  background-color: #ECEAF0;
  padding: 5px;
  transform: scale(1.5,1.5);
}
.profile{
  margin-left:25px;
  margin-right:10px;
  margin-top: 10px;
  height:30px;
  width:30px;
  text-align: center;
  color:#757a8e;
  background-color: #ECEAF0;
  padding: 5px;
  transform: scale(1.5,1.5);
  
}

img {
  border-radius: 8px;
}

.search {
  width: 180px;
  position: relative;
  margin-left: auto;
  margin-top:10px;
  margin-right:70px;
}
.searchTerm {
  float: left;
  width: 100%;
  
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  margin-right:auto;
}
.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 30px;
  background: #e2e0eb;
  text-align: center;
  color: #7c849d;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-right: auto;
}
